# Global config
global:
  scrape_interval: {{ prometheus_global.scrape_interval | default('15s') }}
  evaluation_interval: {{ prometheus_global.evaluation_interval | default('15s') }}

# Alerting configuration
alerting:
  alertmanagers:
    {% if alertmanagers %}
    {% for am in alertmanagers %}
    - static_configs:
        - targets: {{ am.targets | to_nice_yaml(indent=10) | indent(10) }}
    {% endfor %}
    {% else %}
    # - static_configs:
    #     - targets: []
    {% endif %}

# Rule files
rule_files:
{% if rule_files %}
{% for rf in rule_files %}
  - "{{ rf }}"
{% endfor %}
{% else %}
  # - "first_rules.yml"
  # - "second_rules.yml"
{% endif %}

# Scrape configs
scrape_configs:
{% for job in scrape_configs %}
  - job_name: "{{ job.job_name }}"
    {% if job.scrape_interval is defined %}
    scrape_interval: "{{ job.scrape_interval }}"
    {% endif %}
    metrics_path: "{{ job.metrics_path | default('/metrics') }}"
    scheme: "{{ job.scheme | default('http') }}"
    static_configs:
    {% for sc in job.static_configs %}
      - targets:
        {% for target in sc.targets %}
          - "{{ target }}"
        {% endfor %}
        {% if sc.labels %}
        labels:
          {% for key, val in sc.labels.items() %}
          {{ key }}: "{{ val }}"
          {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
